@charset "utf-8";
body {
    padding: 0;
    background-color: #23282d;
}
a {
    color: unset;
}
#custom-r-menu {
    height: 104vh;
    width: 30vw;
    opacity: 0.9;
    top: 0;
    display: block;
    transition: 0.3s;
    left: unset;
    right: -30.5vw;
    position: fixed;
    border-bottom: solid 3px mediumseagreen;
    border-left: solid 3px mediumseagreen;
    background: #27262a;
    font-size: 16px;
    color: #fff;
    border-radius: 0 0 0 100px;
    z-index: 2;
    h2 {
        margin: 10px;
    }
    ul {
        padding: 0;
        overflow-y: scroll;
        height: 90vh;
        margin-bottom: 0;
        width: 32vw;
    }
    li {
        list-style: none;
        &:first-child a {
            border-top: solid 1px #f1f1f1;
        }
    }
    a {
        display: block;
        padding: 12px 20px;
        border-bottom: 1px dotted #f1f1f1;
        font-weight: 500;
        font-size: 16px;
        height: 50px;
        letter-spacing: 0.5px;
        box-sizing: border-box;
        text-decoration: none;
    }
}

#swipe {
    height: 30px;
    width: 30px;
    border-radius: 100% 0 0 100%;
    border: solid mediumspringgreen 2px;
    position: absolute;
    left: -35px;
    background: transparent;
    top: 30px;
    border-right: none;
    button {
        background: transparent;
        border: none;
        font-size: 24px;
        color: #fff;
        padding: 2px 8px;
        margin: 0;
        line-height: 1.2;
    }
}
#swipe 
#nav-c-switch {
    position: fixed;
    display: flex;
    background: rgba(0,0,0,0.6);
    bottom: 50px;
    color: mediumseagreen;
    line-height: 1.2;
    padding: 23px 3px;
    right: 32px;
    text-align: center;
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    span{
        font-size: 18px;
        margin: 7px 2px;
    }
    i{
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px){
    #custom-r-menu {
        width: 70vw;
        right: -70.5vw;
        ul {
            width: 70vw;
        }
    }
    #nav-c-switch {
        padding: 27px 7px;
        span{
            font-size: 4.5vw;
            margin: 4px;
        }
        i{
            font-size: 8vw;
        }
    }
}